/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
    color: blue;
    font-size: 20px;
}

/**{
	outline: 1px solid black;
}*/

*, *::before, *::after{
	box-sizing: border-box;
}
@font-face {
	font-family: 'K2D Thin';
	src: url('K2D-Thin.ttf') format("truetype"),
  }

/*聊天室*/
.chat-box{
	width: 598px;
	height: 276px;
	padding: 0 10px 10px 20px;
	border-radius: 20px;
	background-color: rgba(132, 132, 132, 0.2);
	font-size: 20px;
	color: white;
}
.chat{
    width: 568px;
    height: 212px;
    padding: 0 0 10px 0;
    overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: rgba(4, 4, 4, 0.35)  rgba(132, 132, 132, 0.2);
}
.chat p{
	width: 542px;
	font-family: 'K2D Thin', sans-serif;
	font-weight: 400;
	/*font-size: 20px;*/
	line-height: 26px;
	color: rgba(255, 255, 255, 1);
	display: flex;
	justify-content: space-between;
}
.chat p:not(:last-child){
	margin-bottom: 5px;
}
.chat span{
	font-weight: 400;
	font-size: 15px;
	color: rgba(123, 123, 123, 1);
	margin-top: 3px;
}
.chat::-webkit-scrollbar{
	width: 16px;    
}
.chat::-webkit-scrollbar-track{
	background-color: rgba(132, 132, 132, 0.2);
	border-radius: 10px;
}
.chat::-webkit-scrollbar-thumb{
	background-color: rgba(4, 4, 4, 0.35);
	border-radius: 10px;
}
.input-box{
	width: 568px;
	height: 50px;
	margin-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	border: none;
	background: url(./image/Vector.png) no-repeat rgba(242, 242, 242, 0.4) 530px 13.15px;
}

/*聊天室2.0*/
.game-chat2{
    margin: 50px 0 0 10px;
    box-sizing: border-box;
	width: 578px;
	height: 276px;
	padding: 10px 10px 10px 20px;
	border-radius: 20px;
	background-color: rgba(132, 132, 132, 0.2);
    font-size: 20px;
    line-height: 27.24px;
    font-family: 'K2D Thin', sans-serif;
	font-weight: 400;	
	color: rgba(255, 255, 255, 1);
}
.game-chat__room2{
    width: 548px;
    height: 239px;
    margin-top: -23px;
    padding-top: 10px;
	
}    
.game-chat_box2{
    width: 522px;
    height: 229px;
    padding-bottom: 10px;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: rgba(4, 4, 4, 0.35)  rgba(132, 132, 132, 0.2);
}    
.game-chat__room2 p{
	width: 522px;
	display: flex;
	justify-content: space-between;
}
.game-chat__room2 p:not(:last-child){
	margin-bottom: 5px;
}
.game-chat__room2 span{
	font-size: 15px;
	color: rgba(123, 123, 123, 1);
	margin-top: 3px;
}
.game-chat__room2::-webkit-scrollbar{
	width: 16px;    
}
.game-chat__room2::-webkit-scrollbar-track{
	background-color: rgba(132, 132, 132, 0.2);
	border-radius: 10px;
}
.game-chat__room2::-webkit-scrollbar-thumb{
	background-color: rgba(4, 4, 4, 0.35);
	border-radius: 10px;
}
.game-chat__input2{
	width: 548px;
	height: 50px;
	border-radius: 10px;
	margin-top: 10px;
	padding-right: 10px;
	border: none;
	background: url(./image/Vector.png) no-repeat rgba(242, 242, 242, 0.4) 530px 13.15px;
}

/*聊天室3.0*/
.game-chat3{
    margin: 50px 0 0 10px;
    box-sizing: border-box;
	width: 578px;
	height: 276px;
	padding: 0px 10px 10px 20px;
	border-radius: 20px;
	background-color: rgba(132, 132, 132, 0.2);
	font-size: 20px;
    line-height: 27.24px;
    font-family: 'K2D Thin', sans-serif;
	font-weight: 400;	
	color: rgba(255, 255, 255, 1);
}
.game-chat__room3{
    width: 548px;
    height: 208px;
    margin-bottom: 10px;
    overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: rgba(4, 4, 4, 0.35)  rgba(132, 132, 132, 0.2);
}      
.game-chat__room3 p{
	width: 522px;
	display: flex;
	justify-content: space-between;
}
.game-chat__room3 p:not(:last-child){
	margin-bottom: 5px;
}
.game-chat__room3 span{
	font-size: 15px;
	color: rgba(123, 123, 123, 1);
}
.game-chat__room3::-webkit-scrollbar{
	width: 16px;    
}
.game-chat__room3::-webkit-scrollbar-track{
	background-color: rgba(132, 132, 132, 0.2);
	border-radius: 10px;
}
.game-chat__room3::-webkit-scrollbar-thumb{
	background-color: rgba(4, 4, 4, 0.35);
	border-radius: 10px;
}
.game-chat__input3{
	width: 548px;
	height: 50px;
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 0.4);
	position: relative;
}
.game-chat__input3 input{
    background-color: rgba(242, 242, 242, 0);
	border-radius: 10px;
    border: none;
    outline: none;
    width: 85%;
    height: 100%;
	padding-right: 15%;
    font-size: 20px;
	color: rgba(255, 255, 255, 1);
}
.game-chat__input3 button{
	width: 28px;
	height: 24px;
    background-color: rgba(242, 242, 242, 0);
    background-image: url(./image/Vector.png);
    border: none;
    outline: none;
	position: absolute;
	top: 13.15px;
	right: 10px;
	cursor: pointer;
}